.half {
  width: 50%;
  transition: 1s;
}

.full {
  width: 100%;
  transition: 1s;
}

#video {
  height: 50vh;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border: 2px solid rgb(255, 255, 255);
}

#image {
  height: auto;
  width: 80%;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(255, 255, 255);
}

#image2 {
  height: 30%;
  width: 20%;
  margin: 20px;
  display: inline;
  border: 2px solid rgb(255, 255, 255);
}

.home-container {
  background: linear-gradient(to right, #dfe7df, #ecedf0);
  height: auto;
  display: flexbox;
}

.home-p {
  font-size: 70px;
  text-align: center;
  display: inline;
  margin-right: 40px;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half h2 {
  margin: 30px;
  background-color: rgb(240, 248, 238);
  padding: 20px;
  border-radius: 30px;
}

.full h2 {
  margin: 30px;
  background-color: rgb(240, 248, 238);
  padding: 20px;
  border-radius: 30px;
}
